/* product.page.scss */

/* Estilos para el encabezado */
ion-header {
    ion-toolbar {
      --background: #3880ff; /* Color de fondo del encabezado */
      --color: #fff; /* Color del texto del encabezado */
    }
  }
  
  /* Estilos para el contenido */
  ion-content {
    ion-card {
      margin: 20px; /* Margen alrededor de la tarjeta */
    }
  
    /* Estilos para el título del producto */
    ion-card-title {
      font-size: 24px; /* Tamaño del texto del título */
      font-weight: bold; /* Negrita para el título */
    }
  
    /* Estilos para las propiedades del producto */
    ion-card-content {
      padding: 10px; /* Espaciado interno del contenido de la tarjeta */
      font-size: 16px; /* Tamaño del texto del contenido */
    }
  }
  
  /* Estilos para los botones */
  ion-button {
    margin: 10px; /* Margen entre botones */
  }
  
  /* Estilos para los botones de color danger */
  ion-button[color="danger"] {
    --background: #ff3d71; /* Color de fondo del botón danger */
    --color: #fff; /* Color del texto del botón danger */
  }
  