<ion-header>
    <ion-toolbar>
      <ion-title>
        Products
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addProduct()">Add Product</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProducts()"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let product of filteredProducts">
        <ion-label>
          <h2>{{ product.producto }}</h2>
          <p>{{ product.unidad }}</p>
          <p>{{ product.presupuesto }}</p>
        </ion-label>
        <ion-button (click)="editProduct(product)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteProduct(product.id)">Delete</ion-button>
    </ion-item>
    </ion-list>
  </ion-content>
  