page-home {
    ion-header {
      --background: #3880ff;
      --color: #fff;
    }
  
    ion-content {
      --background: #f4f5f8;
    }
  
    ion-item {
      --background: #fff;
      --border-color: #ccc;
      margin: 10px 0;
    }
  
    ion-button {
      margin: 0 5px;
    }
  }
  